@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mqWidth($size) {
    @media only screen and(min-width: $size) {
        @content;
    }
}

@mixin mqHight($size) {
    @media only screen and(min-height: $size) {
        @content;
    }
}

@mixin  mqMaxWidthMinHeight($size1, $size2) {
    @media only screen and(max-width: $size1) and(max-height: $size2){
        @content;
    }
}